.navigation {
    left: 50px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    @include tablet-landscape {
        display: none;
    }

    @include tablet-portrait {
        display: none;
    }

    @include mobile {
        display: none;
    }

    .point {
        border: 2px solid $black;
        border-radius: 50%;
        cursor: pointer;
        height: 12px;
        margin: 8px 0;
        transition: .2s;
        width: 12px;

        &.active,
        &:hover {
            background: $black;
        }
    }
}